{{ define "main" }}
    {{ .Content }}
    {{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ if in .File.Dir "blog" }}
            <p class="notice">
                <strong>{{ .Date.Format "2 Jan 2006" }}</strong>
                <br>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </p>
        {{ end }}
    {{- end }}
{{ end }}
