<nav>
  <a href="/" class="current">Home</a>
  <a href="/blog">Blog</a>
  <a href="/recipes">Recipes</a>
  <a href="https://codeberg.org/LogicalErzor">Codeberg</a>
  <a rel="me" href="https://fosstodon.org/@Logical_Error">Mastodon</a>
  <a href="{{ absURL "index.xml" }}">RSS</a>
</nav>
